<footer>
    <p>MarkSheet.io | Copyright 2015</p>
    <ul>
      <li>
        <a href="home.html">Home</a>
      </li>
      <li>
        <a href="about.html">About</a>
      </li>
      <li>
        <a href="contact.html">Contact</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="privacy-policy.html">Privacy Policy</a>
      </li>
      <li>
        <a href="terms-of-use.html">Terms of use</a>
      </li>
    </ul>
  </footer>