<header>
    <!--<nav>
        <ul>
            <li><a href="/ejs-index">Home</a></li>
            <li><a href="/ejs-about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>-->
    
        <nav><%- include ('nav') %></nav>
        <h1><%= header %></h1>
    
</header>