<nav class="p-3 bg-dark text-white mb-4 navbar-fixed-top">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Home</a></li>
            <li><a href="/compare-umweltparameter" class="nav-link px-2 text-white">Umweltparameter vergleichen</a></li>
            <li><a href="/station-query" class="nav-link px-2 text-white">Station abfragen</a></li>
            <li><a href="/config-upload" class="nav-link px-2 text-white">Konfigurationsdatei angeben</a></li>
        </ul>      
    </div>
</nav>