<nav class="nav nav-pills ">
  <a class="nav-link" href="/" id="home"><i class="bi-alarm"></i> Home</a>
  <a class="nav-link" href="/compare-umweltparameter" id="compare-umweltparameter"><i class="bi bi-diagram-2"></i> Umweltparameter vergleichen</a>
  <a class="nav-link" href="/station-query" id="station-query">Station abfragen</a>
  <a class="nav-link" href="/config-upload" id="config-upload">Konfigurationsdatei angeben</a>
</nav>