<!DOCTYPE html>
<html lang="en">
	<head><%- include ('partials/head', {titlePage:"xXx"}) %></head>

  <body class="container">       
    <header><%- include ('partials/header') %></header>  
    <nav><%- include ('partials/nav') %></nav>
    <main>    
      <section>      </section>        
      
    </main>      
    <footer><%- include('partials/footer') %></footer>
    <script src="j_js.js"></script>
  </body>
</html>